@{
    ViewData["Title"] = "Ulf's Signicat Sandbox";
}
<h1>@ViewData["Title"].</h1>
<h3>@ViewData["Message"]</h3>

<h2>Pick a function</h2>
<ul>
    <li><a href="Home/UserLogin">User authentication</a></li>
    <li><a href="Home/SDS">Session Data Storage</a></li>
    <li><a href="Home/Signature">Digital signature</a></li>
</ul>
