@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Session Data Storage";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<div class="centered_text">
    @if (ViewData["Mode"].Equals("menu"))
    {
        @Html.Partial("~/Views/Shared/_SDS_form.html")  <!-- for syntax explanation, see http://stackoverflow.com/questions/24448245/html-partial-not-rendering-partial-view -->
    }
    else if (ViewData["Mode"].Equals("upload"))
    {
        @:<p>Uploading file "@ViewData["Filename"]".</p>
    }
    else if (ViewData["Mode"].Equals("download"))
    {
        @:<p>Unfinished</p>
    }
</div>




